.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.contentContainer {
  display: flex;
  height: auto;
}

.title {
  padding: 1rem 0rem;
}

.tilesContainer {
  display: flex;
  flex-direction: column;
  // height: 17rem;
  min-width: 30rem;
  min-height: 22rem;
  margin-right: 2.75rem;
  justify-content: space-between;
}
.graphsContainer {
  // height: 17rem;
  // max-width: 65rem;
  width: 100%;
}
