.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.contentContainer {
  display: flex;
  height: auto;
  flex-flow: row wrap;
}

.title {
  font-size: 1.5rem;
  padding: 1rem 0rem;
}

.tilesContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.graphsContainer {
  flex-grow: 1;
}
