.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem 2rem 10rem 2rem;
  width: 100%;
}
.skeletonContainer {
  display: flex;
  height: auto;
  margin-bottom: 3rem;
  margin-top: 4rem;
}
.dataSkeleton {
  display: flex;
  flex-direction: column;
  min-width: 30rem;
  min-height: 22rem;
  margin-right: 2.75rem;
  justify-content: space-between;
}
.tileSkeleton {
  height: 10rem;
  width: 100%;
}
.chartTileSkeleton {
  height: 10rem;
  width: 100%;
}
.titleSkeleton {
  margin-bottom: 1rem;
  max-height: 2.5rem;
  width: 100%;
}
.tableSkeleton {
  margin-top: 2rem;
}