@import "~@boomerang/boomerang-styles/lib/colors";

.counter {
  align-items: center;
  display: flex;
  font-size: 2.5rem;
  font-weight: 600;
  height: 100%;
  justify-content: center;
  width: 30%;
}
.divider {
  border: $gray-1 0.01rem solid;
  width: 0.15rem;
  height: 4.25rem;
}
.text {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  width: 60%;
  margin-left: 1rem;
}
.title {
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 1.5rem;
}
.content {
  font-size: 1rem;
  margin-top: 1rem;
  font-weight: 400;
}
