@import "~@boomerang/boomerang-styles/lib/colors";

.b-notification-banner {
  align-items: center;
  background-color: $cerulean-50;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem 1rem;
  position: sticky;
  transition: all 0.15s cubic-bezier(0.4, 0.14, 1, 1);
  top: 3rem;
  width: 100%;
  z-index: 2;

  &.--hidden {
    transform: translateY(-100%);
    position: fixed;
    opacity: 0;
  }
}

.b-notification-banner__text {
  color: $white;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.03125rem;
  line-height: 1.75rem;
  text-align: center;
  width: calc(100% - 2rem);

  a {
    color: $teal-10;
  }
}

.b-notification-banner__button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
}

.b-notification-banner__close-icon {
  height: 1rem;
  width: 1rem;
}
