body {
  font-family: "IBM Plex Sans", "Helvetica Neue", Arial, Helvetica, sans-serif !important;
  background-color: $ui-background;
}

//Override

h2 {
  font-size: 1.5rem;
}

.Toastify__toast {
  box-shadow: none;
}
.Toastify__toast--default {
  background: transparent;
}
