//default theme tokens used for bmrg regardless of theme
@mixin bmrg-theme() {
  $prefix: "bx";

  button,
  html [type="button"],
  [type="reset"],
  [type="submit"] {
    appearance: none !important;
  }

  .#{$prefix}--form-item {
    .#{$prefix}--text-input,
    .#{$prefix}--text-area {
      border: none;
      border-radius: rem(4px);
    }
  }

  .#{$prefix}--date-picker__input,
  .#{$prefix}--dropdown,
  .#{$prefix}--dropdown-text,
  .#{$prefix}--overflow-menu-options,
  .#{$prefix}--select-input,
  .#{$prefix}--search .#{$prefix}--search-input,
  .#{$prefix}--list-box,
  .#{$prefix}--list-box input[role="combobox"],
  .#{$prefix}--list-box__field[aria-expanded="true"],
  .#{$prefix}--list-box__field,
  .#{$prefix}--text-area,
  .#{$prefix}--text-input {
    border: none !important;
    border-radius: rem(4px) !important;
  }

  .#{$prefix}--checkbox-label::after {
    top: 40% !important;
  }

  .#{$prefix}--text-area__wrapper {
    width: 100%;
  }

  .#{$prefix}--form-requirement {
    color: $support-01;
    &::before {
      content: "";
    }
  }

  .#{$prefix}--label,
  .#{$prefix}--list-box__label {
    font-family: "IBM Plex Sans";
  }

  .#{$prefix}--modal-container {
    border-radius: rem(4px);
  }

  .#{$prefix}--modal-footer {
    border-bottom-right-radius: rem(4px);
    border-bottom-left-radius: rem(4px);
    .#{$prefix}--btn {
      border-radius: 0;

      &:first-child {
        border-bottom-left-radius: rem(4px);
      }

      &:last-child {
        border-bottom-right-radius: rem(4px);
      }
    }
  }

  .#{$prefix}--search--xl {
    .#{$prefix}--search-input,
    .#{$prefix}--search-close {
      height: 2.5rem;
    }
  }

  .#{$prefix}--btn--field {
    height: 2.5rem;
    min-height: 2.5rem;
  }
}
