// Carbon theme
$interactive-01: #0072c3;
$interactive-02: #3d3d3d;
$interactive-03: #0072c3;
$interactive-04: #0072c3;
$ui-background: #f2f4f8;
$ui-01: #ffffff;
$ui-02: #f2f4f8;
$ui-03: #d5d9e0;
$ui-04: #868d95;
$ui-05: #171717;
$text-01: #171717;
$text-02: #50565b;
$text-03: #868d95;
$text-04: #ffffff;
$icon-01: #171717;
$icon-02: #565656;
$icon-03: #ffffff;
$link-01: #0072c3;
$field-01: #ffffff;
$field-02: #f2f4f8;
$inverse-01: #ffffff;
$inverse-02: #3d3d3d;
$support-01: #da1e28;
$support-02: #009c98;
$support-03: #fdd13a;
$support-04: #054ada;
$inverse-support-01: #ff767c;
$inverse-support-02: #20d5d2;
$inverse-support-03: #ffa0c2;
$inverse-support-04: #6ccaff;
$overlay-01: rgba(22, 22, 22, 0.5);
$hover-primary: #0072c3;
$active-primary: #003d73;
$hover-primary-text: #0058a1;
$hover-secondary: #50565b;
$active-secondary: #6f6f6f;
$hover-tertiary: #0072c3;
$active-tertiary: #003d73;
$hover-ui: #d5d9e0;
$active-ui: #b9bfc7;
$selected-ui: #d5d9e0;
$hover-selected-ui: #b9bfc7;
$hover-danger: #ba1b23;
$active-danger: #750e13;
$hover-row: #d5d9e0;
$visited-link: #8a3ffc;
$disabled-01: #ffffff;
$disabled-02: #b9bfc7;
$disabled-03: #868d95;
$focus: #0072c3;
$highlight: #e3f6ff;
$active-01: #bebebe;
$hover-field: #f3f3f3;
$inverse-focus-ui: #ffffff;
$inverse-hover-ui: #50565b;
$skeleton-01: #f2f4f8;
$skeleton-02: #b9bfc7;
