.container {
  align-items: flex-start;
  background: white;
  display: flex;
  flex-direction: column;
  height: 12rem;
  padding: 2rem;
}

.content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 30rem;
}

.button {
  width: 9rem;
}
