@import "~@boomerang/boomerang-styles/lib/colors";
@import "~Styles/variables";

#policies-container {
  .bx--table-header-label {
    color: $cerulean-50;
    font-size: 0.9rem;
    font-weight: bolder;
    padding-right: 0.5rem;
  }
}