.c-loading {
  .bmrg--c-loading-animation {
    width: 100%;
  }
  &.--centered {
    align-items: center;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
  }
}
