.section {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
  :global .bx--btn {
    margin-top: 1rem;
  }
  h2 {
    padding: 0;
  }

  p {
    color: #242a2e;
    font-size: 0.75rem;
    letter-spacing: 0.0625rem;
    line-height: 0.92rem;
    text-align: left;
    text-overflow: ellipsis;
    word-break: break-word;
  }
}

.row {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  > div:not(:last-child) {
    margin-right: 1rem;
  }
  :global .bx--bmrg-select,
  :global .bx--form-item,
  :global .bx--text-input {
    max-width: 15rem;
    min-width: 15rem;
  }

  &:hover,
  &:active {
    .delete {
      opacity: 1;
    }
  }

  :global .bx--form-item {
    order: 2;
  }
}

.delete {
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  height: 1rem;
  margin: 0;
  margin-top: 1.25rem;
  opacity: 0;
  order: 3;
  padding: 0rem;
  transition: opacity 0.1s linear;
  &:focus {
    opacity: 1;
  }
}
