.container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  position: relative;
}

.title {
  padding: 0;
}

.message {
  color: #242a2e;
  font-size: 0.875rem;
  letter-spacing: 0.0625rem;
  line-height: 0.92rem;
  text-align: left;
  text-overflow: ellipsis;
  word-break: break-word;
}
.button {
  position: absolute;
  right: 0rem;
  top: 1rem;
}
