@import "Styles/variables";

.container {
  color: $text-01;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.text {
  text-align: center;
  font-size: 1rem;
  letter-spacing: 0.01rem;
  line-height: 1.6875rem;
  margin-bottom: 1.875rem;

  &.above {
    margin-bottom: 1.875rem;
  }

  &.below {
    margin-top: 1.875rem;
  }
}

.graphic {
  max-width: 36rem;
}
