@import "~Styles/variables";

.container {
  color: $text-01;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  text-align: center;
  font-size: 1.375rem;
  color: $text-01;
  font-weight: 300;
  letter-spacing: 0.125rem;
  line-height: 1.6875rem;
  margin-bottom: 1.875rem;

  &.above {
    margin-bottom: 1.875rem;
  }

  &.below {
    margin-top: 1.875rem;
  }
}

.graphic {
  max-width: 31.25rem;
}
