.container {
  margin-bottom: 10rem;
}
.skeletonsContainer {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 50%;
}
.textInputSkeleton {
  width: 2.5rem;
  margin-bottom: 1rem;
  width: 24rem;
}
