@import "~@boomerang/boomerang-styles/lib/colors";

.c-app {
  margin: 0 auto;
  position: relative;
}

// actual content of the app
.c-app-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 3rem;
}

.c-app-content--not-loaded {
  align-items: center;
  justify-content: center;
}

// main section i.e. not navbar or sidenav
.c-app-main {
  overflow-y: auto;
  position: relative;
  transition: padding-top 0.3s ease;
}

@media (max-width: 35rem) {
  .c-app-content {
    flex-direction: column;
  }
  .c-app-main {
    position: initial;
  }
}
